:root {
  --accent: #3584e4;
  --accent-start: rgba(53, 132, 228, 0);
  --complete: #33d17a;
}

.adw-blue {
  background-color: #3584e4;
  color: black;
}

.adw-green {
  background-color: #33d17a;
  color: black;
}

.adw-yellow {
  background-color: #f6d32d;
  color: black;
}

.adw-orange {
  background-color: #ff7800;
  color: black;
}

.adw-red {
  background-color: #e01b24;
  color: white;
}

.adw-purple {
  background-color: #9141ac;
  color: white;
}

.adw-brown {
  background-color: #986a44;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.toolbar {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

[data-corvu-dialog-overlay] {
  position: fixed;
  inset: 0px;
  z-index: 50;
  background-color: rgb(0 0 0 / 0.5);
}

[data-corvu-dialog-content] {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 50;
  min-width: 320px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  animation-duration: 200ms;
  box-shadow: none !important;
}

[data-corvu-dialog-content][data-open] {
  animation: enter 200ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

[data-corvu-dialog-content][data-close] {
  animation: exit 200ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

[data-corvu-tooltip-content] {
  padding: 0.25rem 0.5rem;
  background-color: #333333;
  color: #ffffff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  animation-duration: 200ms;
  box-shadow: none !important;
}

[data-corvu-tooltip-trigger] {
  padding: 0;
  margin: 0;
  background-color: none;
  border: none;
  cursor: pointer;
  transition: none;
  box-shadow: none !important;
}

.d-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.circled-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: auto;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 999px;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.circled-checkbox:checked {
  background-color: var(--complete);
}

.circled-checkbox:checked::after {
  content: "\2713";
  font-size: 14px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 0;
  gap: 1rem;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

input {
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: rgb(215, 215, 215);
}

button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: rgb(215, 215, 215);
}

button.small {
  padding: 0.4rem;
  font-size: 13px;
}

button.circle {
  border-radius: 50%;
}

button:hover {
  background-color: rgb(200, 200, 200);
}

button:active {
  background-color: rgb(180, 180, 180);
}

button.delete {
  background-color: rgb(255, 100, 100);
  color: white;
  font-weight: 500;
}

button.delete:hover {
  background-color: rgb(255, 120, 120);
}

button.delete:active {
  background-color: rgb(255, 140, 140);
}

div.todos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: rgb(235, 235, 235);
}

div.todo > p {
  word-break: break-all;
}

div.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  gap: 0.4rem;
  max-width: 100%;
  align-items: center;
  padding: 0.5rem 0.7rem;
  background-color: rgb(215, 215, 215);
  border-radius: 5px;
}

div.todo-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.2rem;
  width: 100%;
}

div.todo-content > h1 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

div.todo-content > p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.dropdown-menu__content,
.dropdown-menu__subcontent {
  min-width: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.dropdown-menu__item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  font-size: 13px;
  line-height: 1;
  color: #000000;
  border-radius: 3px;
  padding: 0.5rem;
  user-select: none;
  outline: none;
}

.dropdown-menu__item:hover {
  background-color: #f2f2f2;
}

.dropdown-menu__item:focus {
  background-color: #f2f2f2;
}

.dropdown-menu__item:active {
  background-color: #f2f2f2;
}

.dropdown-menu__item[data-disabled] {
  color: #999999;
  pointer-events: none;
}

.dropdown-menu__item.sub {
  justify-content: space-between;
}

.dropdown-menu__separator {
  border: 1px solid #eeeeee;
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: #444444;
    color: #ffffff;
  }

  button:hover {
    background-color: #555555;
  }

  button:active {
    background-color: #666666;
  }

  button.delete {
    background-color: #8b0000;
  }

  button.delete:hover {
    background-color: #a00000;
  }

  button.delete:active {
    background-color: #b50000;
  }

  div.todos {
    background-color: #2a2a2a;
  }

  div.todo {
    background-color: #333333;
  }

  input {
    background-color: #333333;
    color: #ffffff;
  }

  input:focus {
    outline: none;
    border-color: #666666;
  }

  input::placeholder {
    color: #888888;
  }
  [data-corvu-dialog-content] {
    background-color: #333333;
    color: #ffffff;
  }

  .circled-checkbox {
    background-color: #444444;
  }

  .dropdown-menu__content,
  .dropdown-menu__subcontent {
    background-color: #444444;
    color: #ffffff;
  }

  .dropdown-menu__item {
    color: #ffffff;
  }
  .dropdown-menu__item:hover {
    background-color: #555555;
  }
  .dropdown-menu__item:focus {
    background-color: #555555;
  }
  .dropdown-menu__item:active {
    background-color: #555555;
  }
  .dropdown-menu__separator {
    border-color: #555555;
  }
}

@media screen and (max-width: 768px) {
  /* Further adjustments for smaller mobile devices */
  body {
    font-size: 12px;
  }

  h1,
  h2,
  h3 {
    font-size: 1.2em;
  }

  button {
    width: fit-content;
  }

  div.todos {
    max-width: calc(100vw - 2rem);
  }

  div.todo {
    align-items: center;
    padding: 0.5rem 0.5rem;
  }
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes exit {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}
