.banner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  gap: .4rem;
  padding: .4rem .5rem;
  margin-bottom: .2rem;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.banner > button {
  font-size: 14px;
}