.titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    left: env(titlebar-area-x, 0);
    top: env(titlebar-area-y, 0);
    height: env(titlebar-area-height, 40px);
    width: env(titlebar-area-width, 100%);
    -webkit-app-region: drag;
}
